# 
# This file defines the credentials you need to deploy the project artifacts
# to the Nexus server.  You don't need to provide the credentials in order to
# build the project, but you do need them to deploy.
#
# To use this file copy it to a file named gradle.properties and place it either
# in the project directory or in your ~/.gradle directory if you want this information
# to be available for other projects.

envDeployUser=your username
envDeployPass=your password

signing.keyId=your public key
signing.password=your public key password
signing.secretKeyRingFile=the path to your keyring
